@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------
   Hover image effect style css 
---------------------------------*/
.image-container {
  position: relative;
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}

.image-container:hover::before {
  opacity: 1;
}
